<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OpenLayers Basic OSM Example</title>
    <script src="~/Scripts/OpenLayers-2.13.1/OpenLayers.js"></script>
    <script type="text/javascript">
        var map, layer;
        //TODO list:
        //Add a layer switcher with three collections programmed in
        //Add a form/control for near
        //Add a control for within polygon
        //Add a control for within box
        //Add a line intersection tool
        function init() {
            map = new OpenLayers.Map('map');
            layer = new OpenLayers.Layer.OSM("Simple OSM Map");
            map.addLayer(layer);
            map.setCenter(
                new OpenLayers.LonLat(-117.6, 34.07).transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    map.getProjectionObject()
                ), 12
            );
        }
    </script>
</head>
<body onload="init()">
    <div id="map" class="smallmap"></div>
</body>
</html>