<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="~/Scripts/OpenLayers-2.13.1/OpenLayers.js"></script>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/proj4.js"></script>
    <script type="text/javascript">
        var map, layer, default_points, segments, vector_layer;
        var geoJSONParser = new OpenLayers.Format.GeoJSON();
        //TODO list:
        //Add a form/control for near
        //Add a control for within polygon
        //Add a control for within box
        //Add a line intersection tool
        //Don't use this:
        //function y2lat(a) { return 180 / Math.PI * (2 * Math.atan(Math.exp(a * Math.PI / 180)) - Math.PI / 2); }
        //Do this:
        //proj4(map.projection.projCode, proj4.WGS84, [map.center.lon, map.center.lat])

        function getLayer(layerId, localLayer) {
            $.ajax({
                url: '/home/layer/' + layerId,
                success: function (data) {
                    console.log(data.length);
                    var features = [];
                    var parsedData = JSON.parse(data);

                    for (var i = 0; i < parsedData.length; i++) {
                        var candidateFeatures = geoJSONParser.read(parsedData[i]);
                        var feature = candidateFeatures[0];
                        feature.geometry = feature.geometry.transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
                        features.push(feature);
                    }

                    localLayer.addFeatures(features);
                    map.zoomToExtent(localLayer.getExtent());
                }
            });
        }

        function activateLayer(layerId) {
            default_points.removeAllFeatures();
            segments.removeAllFeatures();
            if (layerId === 'default') {
                getLayer(layerId, default_points);
            }

            if (layerId === 'segments') {
                getLayer(layerId, segments);
            }
        }

        function boxComplete(evt) {
            var layerId = 'default';
            var leftCorner = [-117.7, 34.06];
            var rightCorner = [-117.5, 34.08];

            $.ajax({
                url: '/home/WithinBox/' + layerId + '?leftCorner=' + leftCorner[0] + '&leftCorner=' + leftCorner[1] + '&rightCorner=' + rightCorner[0] + '&rightCorner=' + rightCorner[1],
                success: function (data) {
                    console.log(data);
                    var features = [];
                    var parsedData = JSON.parse(data);
                }
            });
        }

        function near(point) {
            var layerId = 'default';
            var maxDistance = 20000;
            var minDistance = 10000;
            //set up the call to near.
            //should I set up the document here?
            $.ajax({
                url: '/home/Near/' + layerId + '?point=' + point[0] + '&point=' + point[1] + '&maxDistance=' + maxDistance + '&minDistance=' + minDistance,
                success: function (data) {
                    console.log(data);
                    var features = [];
                    var parsedData = JSON.parse(data);
                }
            });
        }

        function init() {
            map = new OpenLayers.Map('map', { projection: new OpenLayers.Projection("EPSG:3857") });
            layer = new OpenLayers.Layer.OSM("Simple OSM Map");
            default_points = new OpenLayers.Layer.Vector("defualt points");
            segments = new OpenLayers.Layer.Vector("segments");
            vector_layer = new OpenLayers.Layer.Vector("vector_layer");

            map.addLayers([layer, default_points, segments, vector_layer]);
            map.setCenter(
                new OpenLayers.LonLat(-117.6, 34.07).transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    map.getProjectionObject()
                ), 12
            );
        }

        $(document).ready(function () {
            $('input[name=layer]:radio', '#layerSwitcher').change(function () {
                activateLayer(this.id);
            });
        });
    </script>
</head>
<body onload="init()">
    <div id="map" class="smallmap"></div>

    <form id="layerSwitcher" action="">
        <div>Layer switcher:
        <ul>
            <li><label><input class="layerSwitcherItem" id="none" name="layer" type="radio" checked="checked" />No data</label></li>
            <li><label><input class="layerSwitcherItem" id="default" name="layer" type="radio" />Points</label></li>
            <li><label><input class="layerSwitcherItem" id="segments" name="layer" type="radio" />Lines</label></li>
        </ul>
        </div>
    </form>

    <script>
    </script>
</body>
</html>